.post{
    background-color: #FFFFFF;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.15);

    display: grid;
    grid-template-rows: 3fr 10fr 2fr;

    margin-top: 20px;
    margin-left: 50px;

    width: 80%;
    height: 500px;

    border-radius: 6px;
}
