.messageContainer {
    display: grid;
    width: 100%;
    grid-template-columns: 6% 94%;
    grid-template-rows: 25px 100%;
    grid-template-areas:
    "i n"
    "i c";
    word-wrap:break-word;

    margin-bottom: 25px;
}

.userImageContainer {
    grid-area: i;
}

.userName {
    grid-area: n;
    max-height: 20px;
}

.messageText {
    grid-area: c;
    min-width: 100%;
}

.messageText p {
    padding: 0;
    margin: 0;
}

.userImageContainer img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.userName a {
    text-decoration: none;
    color: #0645AD;
}