.postHeader {
    display: grid;
    width: 100%;
    grid-template-columns: 15% 85%;
    grid-template-rows: 40% 80%;
    grid-template-areas:
    "i n"
    "i d";
    word-wrap:break-word;
    padding: 20px;
}

.userImgContainer {
    grid-area: i;
}

.userImgContainer img {
    width: 90px;
    height: 90px;
    border-radius: 90px;
}

.userNameContainer {
    grid-area: n;
    max-height: 20px;
    align-self: end;
}

.userNameContainer a {
    text-decoration: none;
    color: #0645AD;
}

.postDataContainer {
    grid-area: d;
}

.postDataContainer a {
    text-decoration: none;
    color: #626d7a;
    font-size: small;
    font-style: italic;
}