.postHeader {
    padding: 10px;

    display: grid;

    grid-template-columns: 120px 200px;
}

.userImgContainer {
    height: auto;
    width: auto;
}

.userImg {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    padding: 10px;
}

.postData {
    color: gray;
    font-size: small;
}

.postInfo {
    margin-top: auto;
    margin-bottom: 24%;
    margin-left: 10px;
}